{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Classify your email</legend>
                <div class="form-group">
                    {{form.email_title.label(class="form-control-label" )}}
                    {% if form.email_title.errors %}
                        {{ form.email_title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email_title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email_title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.email_cont.label(class="form-control-label") }}
                    {% if form.email_cont.errors %}
                        {{ form.email_cont(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email_cont.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email_cont(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
    <legend class="border-bottom mb-4">Previously Classified</legend>
    {% for clf_email in classified.items %}
            <article class="media content-section">
              <div class="media-body">
                <h2><a class="article-title" href="{{ url_for('classified_email', clf_email_id=clf_email.id) }}">{{ clf_email.email_title }}</a></h2>

                  <h5><a class="article-title" >Email was classified as: {{ clf_email.label }}</a></h5>

                 <small class="text-muted">Classified at: {{ clf_email.data_classified.strftime('%Y-%m-%d %H:%M') }}</small>
                <p class="article-content">{{ clf_email.email_content }}</p>
              </div>
            </article>
        {% endfor %}
    {% for page_num in classified.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if classified.page == page_num %}
              <a class="btn btn-info mb-4" href="{{ url_for('classifier', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('classifier', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}


    {% endfor %}
{% endblock content %}
